<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="main_menu_side"  xmlns:th="http://www.thymeleaf.org">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a th:href="@{|/restaurants|}"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>

            </li>

            <li><a th:href="@{|/restaurants|}"><i class="fa fa-edit"></i> Noter <span class="fa fa-chevron-down"></span></a>

            </li>


            </li>

            <li><a th:href="@{|/classements|}"><i class="fa fa-bar-chart-o"></i>Classement <span class="fa fa-chevron-down"></span></a>

            </li>


            </li>
        </ul>
    </div>


</div>